---
import { Image } from 'astro:assets';
import linkIcon from '../assets/icons/arrow-up-right.svg';

export interface ProjectProps {
  title: string;
  imageUrl: ImageMetadata;
  projectUrl: string;
  techStack: string[];
}

const { title, imageUrl, projectUrl, techStack } = Astro.props;
---

<div
  class="flex flex-col md:grid grid-cols-3 gap-8 rounded p-4 bg-kgreen/20 trasition-background duration-300 ease-in-out hover:bg-kgreen/40"
  data-animate="project-card"
>
  <Image
    src={imageUrl}
    class="rounded object-cover h-[125px]"
    width={1280}
    height={720}
    alt={`${title} project thumbnail`}
    decoding="async"
    loading="lazy"
  />
  <div class="col-span-2 flex flex-col gap-4">
    <h3 class="text-xl md:text-2xl flex gap-2 items-center mx-1">
      {title}
      <a target="_blank" href={projectUrl}>
        <Image src={linkIcon} class="rounded" width={24} height={24} alt="External link icon" decoding="async" loading="lazy" />
      </a>
    </h3>
    <div>
      <p class="mx-1 text-sm">Tech Stack:</p>
      <div class="flex flex-wrap">
        {techStack.map((tech: any) => (
          <span class="tech-stack">{tech}</span>
        ))}
      </div>
    </div>
  </div>
</div>
